@font-face{
    font-family:Oswald;
    src:url('oswald-font/Oswald-Regular.ttf');
    font-display:block;
}
@font-face{
    font-family:Arvo;
    src:url('arvo-font/Arvo-Regular.ttf');
    font-display:block;
}
:root{
    font-size:25pt;
    font-family:Oswald;
    color:rgba(0,0,0,0.8);
}
html,body{
    margin:auto;
    width:100%;
    height:100%;
    box-sizing:inherit;
    user-select:none;
    touch-action:manipulation;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    background-color:white;
}
div {
    box-sizing:border-box;
    width:fit-content;
    padding:0;
    margin:0;
    outline:none;
}
a {
    text-decoration:none;
    color:rgba(0, 0, 0, 0.6);
    cursor:default;
}
#Shell{
    position:fixed;
    width:100%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:flex-start;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgba(0,150,136,0);
}
.level1{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,105,92,0);
    width:100%;
    max-width:967px;
    padding:0.19rem;
}
.view_panel{
    padding:0.3rem;
    background-color:rgba(173,20,87,0);
    width:100%;
}
.top_panel{
    width:100%;
    padding-left:0.19rem;
    padding-right:0.19rem;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    background-color:rgba(38,50,56,0);
    line-height:0.77;
}
.navigation{
    display:flex;
    flex-direction:row;
    height:fit-content;
    font-size:87%;
}
.social_buttons{
    display:flex;
    flex-direction:row;
    height:fit-content;
    align-items:center;
    font-size:79%;
}
.social_button{
    padding:0.2rem;
}
.social_button:focus{
    outline:0.07rem solid;
}
.navigation_link{
    padding:0.2rem;
}