@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Chivo');
/* 
[REF]
pt is 1/72nd of an inch .
ch is the width of zero in the elements font.
rem is the font-size of the root element.
em is the calculated font-size of the element.
when zooming the pixels are doubled in size.
*/
:root{
    font-size:19pt;
}
@media(orientation:landscape){
}
html,body{
    margin:auto;
    width:100%;
    height:100%;
    box-sizing:inherit;
    touch-action:manipulation;
    cursor:default;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
div {
    box-sizing:border-box;
    padding:0;
    margin:0;
}
a {
    text-decoration:none;
    color:rgba(0, 0, 0, 0.6);
}
a::before{
    content:'\02c4';
}
#Shell{
    position:fixed;
    margin:auto;
    width:100%;
    height:100%;
    background-color:rgba(255,138,101,0.2);
}
#Shell
.layer1{
    max-width:297mm;
    height:100%;
    margin:auto;
    display:flex;
    align-items:stretch;
    flex-direction:row;
    flex-wrap:nowrap;
}
#Shell 
.layer2{
    max-width:297mm;
    height:100%;
    margin:auto;
    display:none;
    /* display:flex; */
    /* flex-direction:row; */
    /* flex-wrap:nowrap; */
    /* align-items:stretch; */
}
#Shell[data-menuState='state2']
.view{
    /* display:none; */
}
#Shell[data-menuState='state2']
.menu{
    /* display:block; */
}
#Shell
.menu{
    /* padding:2%; */
    /* text-align:center; */
    /* flex-grow:1; */
    /* display:none; */
    /* background-color:rgba(255,138,101,1); */

    /* font-style:italic; */
    /* font-size:77%; */
}
#Shell
.tool-panel{
    flex-grow:0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#Shell
.tool-panel
.more-button::before{
    content:'\002b';
    /* content:'\205d'; */
    /* cursor:pointer; */
}
#Shell[data-menuState='state2']
.tool-panel
.more-button::before{
    /* content:'\00d7'; */
}
#Shell
.tool-panel
.label{
    writing-mode:vertical-lr;
    -ms-writing-mode:vertical-lr;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    white-space:nowrap;
}
#Shell
.layer1
.view{
    flex-grow:1;
}
