.studio_slider{
    display:flex;
    flex-direction:column;
    align-content:center;
    width:100%;
}
.studio_slider_nav{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    height:fit-content;
}
.studio_slider_button{
    cursor:pointer;
    margin:0.1rem;
    padding:0.1rem;
    font-size:81%;
}
.studio_slider_button:focus{
    outline:0.1rem dotted;
    outline-offset:0.05rem;
}
.studio_slider_button,.back::before{
    content:'\2190';
}
.studio_slider_button,.forward::after{
    content:'\2192';
}
.studio_slider_bottom{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    max-width:960px;
    margin:auto;
}
.studio_slider_text{
    margin:0.1rem;
    padding:0.1rem;
    background-color:rgba(0,105,92,0.7);
    /* border-radius:0.1rem; */
}
.studio_image{
    width:100%;
    height:auto;
    max-width:960px;
    border-radius:0.2rem;
}