@import url('https://fonts.googleapis.com/css?family=Arapey');
#Studio{
    width:100%;
    margin:auto;
}
.slider{
    display:flex;
    flex-direction:column;
    align-content:center;
    width:100%;
    max-width:967px;
}
.slider_images{
    width:100%;
    margin:auto;
}
.slider_image{
    width:100%;
    height:auto;
    border-radius:0.2rem;
}
.slider_navigation{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    padding-left:0.3rem;
}
.slider_viewer{
    position:relative;
    width:100%;
}
.slider_panel{
    width:100%;
    position:absolute;
    visibility:hidden;
}
.slider_panel[data-selected="true"]{
    visibility:visible;
}
.slider_description{
    padding:0.23rem 0.23rem 0.23rem 0.13rem;
    height:fit-content;
    font-family:'Arapey';
    font-size:61%;
}
.slider_button{
    font-size:77%;
    padding:0.13rem;
    line-height:0.5;
}
.slider_button:focus{
    outline:0.07rem solid;
}