@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Chivo');
body {
    margin:0;
    font-size:3.2ch;
    font-family:'Poppins', sans-serif;
}
div {
    box-sizing:border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a {
    text-decoration:none;
    color:rgba(0, 0, 0, 0.8);
}